{% extends 'base.html' %}

{% block header %}
<h1 style="text-align: center">{% block title %} Publisher Sales per Console {% endblock %}</h1>
{% endblock %}

{% block content %}
<blockquote class="blockquote">Evaluation Question: Which publishers have had the most success per console?</blockquote>
<h5>Answer: Utilize the dropdown to view a visualization to view publisher global sales on a per-console basis.</h5>
<div class="mt-3">
    <p>Choose a console to view publisher data for</p>
<form method="post">
    <div class = "row">
        <div class = "col-9">
            <select class="form-select" id="consoles" name="consoles">
               {% for console in platforms %}
               <option {% if console == consoleselected %} selected {% endif %} value="{{ console }}">{{ console }}</option>
               {% endfor %}
            </select>
        </div>
        <div class = "col-3 d-grid">
            <button class="btn btn-primary" type="submit" >Search</button>
        </div>

    </div>
</form>
</div>

{% if consoleselected != None %}
<div class = "row">
    <div class ="col-1"></div>
    <div class ="col-10"><canvas id="publisherbyplat" width="400px" height="400px"></canvas></div>
    <div class ="col-1"></div>
</div>
{% endif %}

<div class="mt-3">

</div>

<script src="./../../static/Chart.js"></script>
<script>
    var ctx = document.getElementById('publisherbyplat');
    var publisherbyplat = new Chart(ctx, {
        type: 'doughnut',
        data: {
            labels: [{% for publisher in publishers %}'{{ publisher }}'{% if not loop.last %}, {% endif %}{% endfor %}],
            datasets: [{
                data: [{% for sales in publishers %}{{ publishers[sales] }}{% if not loop.last %}, {% endif %}{% endfor %}],
                backgroundColor: [{% for each in publishers %}'#'+(0x1000000+(Math.random())*0xffffff).toString(16).substr(1,6){% if not loop.last %}, {% endif %}{% endfor %}]
            }]
        },
        options: {
            title: {
                display: true,
                text: 'Game Sales (in millions) Per Publisher For {{ consoleselected }}'
            },
            legend: {
                display: false
            }
        }
    });

</script>
{% endblock %}
